*.iml
.gradle
/local.properties
/.idea/
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore heavy AI model files
**/assets/*.task
**/assets/*.bin
VerdictEdge_Project_Overview.pdf
test_assets/
